body {
    background-color: #DFDFDF;
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}

header {
	background-color: #fff;
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

header img {
	width: 125px;
    height: auto;
}

.heading {
	display: flex;
    flex-direction: column;
}

.heading h1 {
	font-size: 2rem;
	color: navy;
	margin: 0;
}

nav {
    background-color: #35366E;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: lightblue;
}

a:active {
    color: grey;
}

body {
    font-family: 'Roboto', arial, sans-serif ;
    font-size: 16px;
}

h1{
    font-size: 2rem;
    padding: 10px;
}

h2{
    font-size: 1.5rem;
    padding:10px 10px 0px;
}

p {
    background-color: #D1CFDE;
    font-size: 1rem;
    padding:0px 10px 10px;
    line-height: 115%;
}

footer {
    background-color: #35366E;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-content: center;
}

.company-info {
    grid-column: 1;
    grid-row: 1;
}

.social {
    grid-column: 2;
    grid-row: 1;
}

#page-info {
    grid-column: 1/2;
    grid-row: 2;
}